
/* NAVIGATION */
nav {
  background-color: #808080;
}

nav a {
  text-decoration: none;
  background-color: #ffbf00;
  color: white;
  padding: 35px;
  display: block;
  float: left;
}

a:hover {
  background-color: #ee5f3c;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

/* HEADER */
header {
  text-align: center;
}

h1 {
  color: rgb(2,132,130);
}

h2{
  color: rgb(255,215,0);
  text-align: center;
}

p{
  text-align: center;
}
/* MEMORY GAME BOARD */

.board {
  height: 80%;
  width: 50%;

}

.card {
  height: 200px;
  width: 150px;
  border: 1px solid rgb(0,0,0);
  background-color: rgb(255,255,0);
  border-radius: 10px;
  float: left;
  margin: 8%;
}

/* added to keep the card images from imgur a decent size */
img {
  height: 200px;
  width: 150px;
}

#break {
  clear: both;
}

/*FOOTER */
footer {
  text-align: center;
  background-color: #808080;
  align: center;
}

.name {
  color: #ff0000;
}